body {
background-color:white;
background-image: url(\p.jpg);
background-attachment:fixed;
}

#liens_menu:hover{
text-decoration:underline overline;
color:#c8fd5d;
}

#liens_menu{
color:#698f01;
text-decoration:none;
font-family:Impact, Comic Sans MS, Courier New;
}

#titre_principal {
color: #b51901;
font-family:Impact, Comic Sans MS, Courier New;
text-align:center;
}

#liste_shops{
position:absolute;
top:300px;
left:150px;
width:90px;
height:200px;
opacity:0.8;
box-shadow:2px 2px 4px black;
border:1px outset black;
border-radius:5px;
background-color:#6a0000;
}

#text_list_shop{
color:#e3feb4;
font-size:medium;
text-decoration: overline underline;
font-family:Impact, Comic Sans MS, Courier New;
}

#text_list_shop:hover{
color:#75c101;
}

#menu {
border-width:1px;
border-style:outset;
border-color:#0e4500;
border-radius:5px;
background-color:#5d1e00;
opacity: 0.4;
width:800px;
height:30px;
font-size:2em;
text-decoration:none;
position:absolute;
left:230px;
top:90px;
}

td{
border-right:2px inset blue;
border-left:2px inset blue;
text-align:center;
}

#cheeseburger{
position:absolute;
left:450px;
top:150px;
}

#table_malsain{
position:absolute;
left:400px;
top:300px;
font-family: Courier New,Impact, Comic Sans MS;
}
footer{
position:absolute;
bottom:50px;
left:500px;
font-family:Impact, Comic Sans MS, Courier New;
}

#acceuil{
font-family:Verdana,Comic Sans MS, Courier New, Impact;
font-size:x-small;
text-align:center;
}

#attention{
font-family:Verdana,Comic Sans MS, Courier New, Impact;
font-size:small;
text-align:center;
}

form{
position:absolute;
left:500px;
top:150px;
font-family:Impact, Comic Sans MS, Courier New;
border:5px;
box-shadow:2px 2px 4px black;
width:400px;
height:250px;
background-color:#961e01;
text-align:center;
}


















