.ui-icon-myicon:after {
    background-image: url("../_assets/img/glyphish-icons/21-skull.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}

/* Fallback */
.ui-nosvg .ui-icon-myicon:after {
	background-image: url("iconimg.png");
}

.tablemenu{
border="1";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
    margin-top:35px;
}
#body td {
    padding:15px 30px 15px 10px;
}
#body tr td:nth-child(1) {
    font-weight:bold;
}
#address {
    width:400px;
}