.ui-icon-myicon:after {
    background-image: url("../_assets/img/glyphish-icons/21-skull.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}

/* Fallback */
.ui-nosvg .ui-icon-myicon:after {
	background-image: url("iconimg.png");
}